body {
  margin: 0;
  font-family: Arial;
}

header {
  background: #111;
  color: white;
  text-align: center;
  padding: 10px;
}

#news-container {
  padding: 10px;
}

.news {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
}

.bottom-nav button {
  flex: 1;
  padding: 15px;
  font-size: 16px;
}
